@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>

<p>@ViewData["Email"]</p>

<address>
    <strong>More Info: </strong> <a href="www.google.com.br">Google.com.br</a>
</address>
